In [1]:
import numpy as np
import pandas as pd

In [2]:
#Downloading data
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-10-25 20:25:04--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  1.79MB/s    in 0.2s

2024-10-25 20:25:05 (1.79 MB/s) - ‘laptops.csv’ saved [298573/298573]

Reading data using pandas

In [4]:
df=pd.read_csv("laptops.csv")
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

How many records are in the dataset?

In [6]:
df.shape

(2160, 12)

How many laptop brands are presented in the dataset?

In [10]:
df.Brand.count()

np.int64(2160)

How many columns in the dataset have missing values?

In [12]:
df.isnull().sum()/len(df)*100

Laptop           0.000000
Status           0.000000
Brand            0.000000
Model            0.000000
CPU              0.000000
RAM              0.000000
Storage          0.000000
Storage type     1.944444
GPU             63.472222
Screen           0.185185
Touch            0.000000
Final Price      0.000000
dtype: float64

What's the maximum final price of Dell notebooks in the dataset?

In [26]:
df.Brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [51]:
final= df[df["Brand"] == "Dell"]["Final Price"].max()

In [52]:
final

np.float64(3936.0)

Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again.

In [39]:
df.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [40]:
#Calculating the median value of screen column in the dataset
df.Screen.median()

np.float64(15.6)

In [47]:
#Most frequent value
most_frequent_screen = df['Screen'].mode()

In [48]:
most_frequent_screen

0    15.6
Name: Screen, dtype: float64

In [49]:
#Filling na method
df['Screen'].fillna(most_frequent_screen, inplace=True)

In [50]:
#calculate the median value of Screen once again
df.Screen.median()

np.float64(15.6)

In [ ]:
# Sum of weights
# Select all the "Innjoo" laptops from the dataset.
# Select only columns RAM, Storage, Screen.
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Compute the inverse of XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?

In [53]:
df.head(3)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.0
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.0
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.0

In [80]:
# Sum of weights

# 1. Select all the "Innjoo" laptops from the dataset.
innjoo_laptops = df[df["Brand"] == "Innjoo"]

# 2. Select only columns RAM, Storage, Screen.
X = innjoo_laptops[["RAM", "Storage", "Screen"]]

# 3. Get the underlying NumPy array. Let's call it X.
X = X.to_numpy()

# 4. Compute matrix-matrix multiplication between the transpose of X and X.

XTX = X.T @ X

# 5. Compute the inverse of XTX.
XTX_inv = np.linalg.inv(XTX)

# 6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# 7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y.

w = XTX_inv @ X.T @ y

# 8. What's the sum of all the elements of the result?
sum_w = np.sum(w)
print(f"The sum of all the elements of the result is: {sum_w}")

The sum of all the elements of the result is: 91.2998806299555